<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TF (Beta)</title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
</head>
<body>
  <!-- <div class="activity-rules">
    <h1>True or False Activity</h1>
    <p>Students see a personalized image containing target vocabulary and grammar that they are expected to study this week. Subsequently, they should select whether the statement related to the image is true or false. If it is True, the answer will appear green, otherwise it will be red and strikethrough. Then a discussion should follow where students should practice the target vocabulary.</p>
    <h2>Target Vocabulary</h2>
    <ul>
        <li>Vocabulary Item 1</li>
        <li>Vocabulary Item 2</li>
        <li>Vocabulary Item 3</li>
    </ul>
    <h2>Target Grammar</h2>
    <ul>
        <li>Grammar Point 1</li>
        <li>Grammar Point 2</li>
        <li>Grammar Point 3</li>
    </ul>
    <h2>CEFR Level</h2>
    <p>B2</p>
</div> -->
  <div id="image_container" class="image">IMAGE</div>
  <div id="sentence_div"> <span id="sentence" class="sentence"></span></div>
  <br><br>
  <div id="options_container" class="options">
    <div class="true_div"><span class="true">True</span></div>
    <div class="false_div"><span class="false">False</span></div>
  </div>
  <footer class="footer-text">
   Model: fm-gai-lottie-true-false-v1. Developed by Kramar's Educational Technologies. This software is copyright.
  </footer>
  <script src="../static/script.js"></script>
</body>
</html>