<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TF (Beta)</title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
</head>
<body>
  <div class="activity-rules">
    <h1 class="lottie-header">[ LOTTIE ]<sup>™</sup></h1>

    <h2>True or False?</h2>
    <p class="Lottie-Text">Hi, I'm Lottie! Let's practice vocabulary together with 'True / False' statements. Before we start, please enter the words you would like to practice. </p>

    <label for="target-level" class="target-level">Select CEFR Level :</label>
    <select id="target-level" name="target-level" class="target-level">
      <option value="pre-a1">pre-A1 Starters (6-7 years old)</option>
      <option value="a1">A1 Movers (8-9 years old)</option>
      <option value="a2">A2 Flyers (10-11 years old)</option>
      <option value="b1">B1 PET (12-13 years old)</option>
      <option value="b2">B2 FCE (14-15 years old)</option>
      <option value="c1">C1 CAE (16-17 years old)</option>
    </select>
    <label for="target-vocabulary">Enter Vocabulary :</label>
    <input type="text" class="target-vocabulary" id="target-vocabulary" name="target-vocabulary" placeholder="e.g. apple, car, banana...">
    <br><br><br>
    <input id="generate_activity_button" type="button" class="generate-activity" value="Generate Activity">

    <br><br><br><br>
    <h2>Your Activity : </h2>
    <br>
  </div>
  <div id="image_container" class="image">IMAGE</div>
  <div id="sentence_div"> <span id="sentence" class="sentence"></span></div>
  <br><br>
  <div id="options_container" class="options">
    <div class="true_div"><span class="true">True</span></div>
    <div class="false_div"><span class="false">False</span></div>
  </div>
  <footer class="footer-text">
   Model: fm-gai-lottie-true-false-v1. Developed by Kramar's Educational Technologies. This software is copyright.
  </footer>
  <script src="../static/script.js"></script>
</body>
</html>